/*

Tooplate 2122 Nano Folio

https://www.tooplate.com/view/2122-nano-folio

*/
.out > * {
    display:inline-block;
    vertical-align: top;

}
h1 {
    color: #000000;
    font-size: 20px;
    padding-top: 25px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    
}
h2, p, i, address, .text , td {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
 }

.header_area { 
    height: 200px; 
    position: relative;
    margin-left: 490px;
}

.title {
    text-align: center;
    padding: 10px ;
    margin: 1px; 
    display: block;  
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    list-style: none;
    color: #FFFFFF;
    background-color: #950808;
}

.color_boto{ 
    background-color: #ffffff; 
    border-color: #000000 ;
    border-width: 4px;
    border-style: outset;
    border-radius: 15px; 
}


.boto_config {
    text-align: center;
    padding: 20px 0;
    margin: 5px; 
    margin-left: 90px;
    margin-right: 90px;
    display: inline-block;  
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    list-style: none;
    width: 500px;
}

button {
    display: block;
}

input,
textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 15px 0;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.warning {
    background-color: #e6e6e6; 
    list-style-type: none;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
    border-color: #000000;
    border-width: 2px;
    border-style: output;
}

.search_bar {
    background-color: #e6e6e6; 
    list-style-type: none;
    text-align: right ;
    margin-left: 50px;
    margin-top: 50px;
    padding-bottom: 30px;
    border-color: #000000;
    border-width: 2px;
    border-style: output;
}


.search {
    background-color: #ffffff; 
    list-style-type: none;
    text-align: left;
    margin-top: 5px;
    border-color: #6e6e6e;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    width: 500px;
    margin-left: 90px;
    margin-right: 90px;
}








